@import "tailwindcss";

@theme {
  --animate-marquee: marquee 12s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(100vw);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
